backend/venv/
backend/instance/

#python
backend/__pycache__/
backend/*.pyc 
backend/app/__pycache__

#testing
backend/.pytest_cache/
backend/.coverage
.coverage
backend/htmlcov/
backend/tests/__pycache__/

#secrets
.venv/
.env
.envrc
#IDE
.vscode/
.idea/
*.iml
#macOS
.DS_Store
#node
node_modules/
npm-debug.log
yarn-error.log
#logs
logs/
*.log

backend/tests/__pycache__/

backend/htmlcov/
backend/.pytest_cache/
backend/.coverage
.venv
.venv-1
venv
backend/config.py
