backend/venv/
backend/instance/

#python
backend/__pycache__/
backend/*.pyc 
backend/app/__pycache__

#testing
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
backend/tests/__pycache__/

#secrets
